doctype 5
html
  head
    title= title
    meta(name='google-site-verification', content='2y7PfNzGg-JX8aF4P7DT78obP3lNxQzxtekx3nXP_K0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animations.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/nameslap.js')
    script(type='text/javascript', src='/javascripts/googleanalytics.js')
  body
    block content
    div#footer="questions@nameslap.com"
      span
          &nbsp;|&nbsp;&copy; 2013
