extends layout

block content
	h1= "Domain Name Generator"
	div.searchButton(onclick="random()")="Roll 'em Snake Eyes"
	div#resultsSummary
		h3
			span#resultNum="Click For"
			span=" Available Names"
		ul#results
	div#loading="loading"
