body
  padding: 20px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: #666
  color: whitesmoke

.searchButton
  cursor: pointer
  background: #5ECCDB
  display: inline-block;
  text-align: center;
  padding: 10px;
  &:hover
    background: orange

#results
  display: inline-block
  width: 100%
  li
    display: inline
    float: left
    width: 200px
    padding: 5px 0px
    background: rgb(172, 110, 172)
    margin: 5px 10px
    text-align: center
    &:hover
        background: #5EDB81
        cursor: pointer
        color: white
     a
       color: white
       text-decoration: none
#footer
  display: block
  color: salmon
  margin: 40px 0px
  font-size: 10px
  text-align: center;
